# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
df = pd.read_csv('./datasets/new_york_dog_bite_data.csv')
df

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,8140,December 02 2015,DOG,Pug,7,F,True,Staten Island,NaN
1,1,January 27 2015,DOG,Jack Russ,11,M,False,Brooklyn,11217
2,2,January 25 2015,DOG,"Mastiff, Bull",NaN,U,False,Brooklyn,NaN
3,3,January 20 2015,DOG,PIT BULL/GOLDEN RETRIVE X,NaN,U,False,Brooklyn,11236
4,4,December 26 2014,DOG,Doberman Pinscher,NaN,M,False,Brooklyn,11204
...,...,...,...,...,...,...,...,...,...
8702,8703,January 05 2018,DOG,Boxer,NaN,U,False,Staten Island,10309
8703,8704,January 06 2018,DOG,MIXED BREED,NaN,M,False,Staten Island,NaN
8704,8705,January 08 2018,DOG,"Poodle, Miniature",NaN,M,True,Staten Island,10314
8705,8706,January 14 2018,DOG,Mixed/Other,2,U,False,Staten Island,10312
8706,8707,January 24 2018,DOG,Pit Bull,1,U,False,Staten Island,NaN

## Inspect & Clean Data

### Dog Gender

In [3]:
df['Gender'].value_counts(normalize=True)

M    0.473297
U    0.342024
F    0.184679
Name: Gender, dtype: float64

In [4]:
df['Gender'][df['Gender'] != 'U'].value_counts(normalize=True)

M    0.719323
F    0.280677
Name: Gender, dtype: float64

In [5]:
df['Gender'] = df['Gender'].map({
    'M': '1',
    'F': '0',
    'U': 'U'
})

In [6]:
df['Gender'].value_counts(normalize=True)

1    0.473297
U    0.342024
0    0.184679
Name: Gender, dtype: float64

In [7]:
df['Gender'] = np.where(df['Gender'] == 'U', df['Gender'].apply(lambda x: np.random.choice(['1', '0'], p=[.719323, .280677])), df['Gender'])

In [8]:
df['Gender'].value_counts(normalize=True)

1    0.720914
0    0.279086
Name: Gender, dtype: float64

### Drop uneeded columns

In [9]:
df = df.drop(columns = ['Species', 'DateOfBite', 'UniqueID', 'Borough', 'ZipCode', 'Age'])

### Breed

In [10]:
df['Breed'].value_counts()

Pit Bull                                1919
Shih Tzu                                 358
American Pit Bull Mix / Pit Bull Mix     347
American Pit Bull Terrier/Pit Bull       343
Chihuahua                                340
                                        ...
SMALL MIXED BREED                          1
LARGE MIX BREED                            1
PITBULL/ LAB                               1
PITBULL/RHODESIAN                          1
ROTTWEILER / SHEPHARD                      1
Name: Breed, Length: 1034, dtype: int64

### Clean Columns

In [11]:
df.columns = df.columns.str.lower()

In [12]:
df.to_csv('./datasets/cleaned_data/bites.csv', index=False)

In [13]:
# df['Age_num'] = df.Age.str.extract(r'(\d+[.\d]*$)')
# df['Age_num'] = df['Age_num'].astype(float)
# df['Age_num'].value_counts()