In [52]:
import pandas as pd
import numpy as np
import pickle

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

In [53]:
data = pd.read_csv('./datasets/cleaned_data/petfinder.csv')

In [54]:
data.head()

,age,gender,size,name,breed_1,breed_2,purebreed,color,intact_out,injured,age_out,primary_color,secondary_color
0,Adult,1,Medium,Chip,Labrador Retriever,NaN,0,"['black', 'black']",1,0,3.58,black,black
1,Baby,0,Small,Clover D220199,Terrier,NaN,0,NaN,1,0,0.00,NaN,NaN
2,Senior,0,Small,Willow,Chihuahua,NaN,1,NaN,1,0,11.34,NaN,NaN
3,Adult,0,Small,Dolly,Yorkshire Terrier,Poodle,0,NaN,1,0,3.58,NaN,NaN
4,Young,0,Medium,Cheyenne,Terrier,NaN,0,"['brown', 'chocolate']",1,0,1.00,brown,chocolate

In [55]:
data['cond'] = data['injured'].map(lambda x: np.where(x == 1, 0, 1))
data['age'] = data['age'].str.lower()
data['breed'] = data['breed_1'].str.lower()

In [56]:
# load model
with open('./models/model_rfc.pkl', 'rb') as f:
    model = pickle.load(f)

# load transformer
with open('./models/encode_data.pkl', 'rb') as f:
    encoder = pickle.load(f)

In [57]:
X = np.array(data[['age', 'breed', 'cond']])
X = encoder.transform(X)

In [58]:
preds = model.predict_proba(X)

In [59]:
preds[:10, 1]

array([0.59688652, 0.48763947, 0.70268982, 0.22858582, 0.34322031,
       0.72911922, 0.48763947, 0.48763947, 0.48763947, 0.48763947])

In [60]:
data['pred_at_risk'] = preds[:,1]

In [61]:
data.to_csv('./datasets/cleaned_data/petfinder.csv', index=False)