In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./datasets/cleaned_data/texas_shelters.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,8,10,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,intake_subtype,condition,date_out,age_out,intact_out,outcome,age,primary_color,secondary_color
0,A047759,Dachshund,Tricolor,1.080864e+09,1.0,1.396454e+09,10.0,0.0,Austin (TX),surrender,NaN,wnl,1.396884e+09,10.0,0.0,transfer,Senior,tricolor,tricolor
1,A134067,Shetland Sheepdog,Brown/White,8.769600e+08,1.0,1.384593e+09,16.0,0.0,12034 Research Blvd in Austin (TX),public_assist,NaN,med_attn,1.384603e+09,16.0,0.0,owner_return,Senior,brown,white
2,A141142,Labrador Retriever/Pit Bull,Black/White,8.966592e+08,0.0,1.384613e+09,15.0,0.0,Austin (TX),stray,NaN,aged,1.384688e+09,15.0,0.0,owner_return,Senior,black,white
3,A163459,Miniature Schnauzer Mix,Black/Gray,9.402912e+08,0.0,1.415978e+09,15.0,1.0,Ih 35 And 41St St in Austin (TX),stray,NaN,wnl,1.415993e+09,15.0,1.0,owner_return,Senior,black,gray
4,A165752,Lhasa Apso Mix,Brown/White,9.349344e+08,1.0,1.410780e+09,15.0,0.0,Gatlin Gun Rd And Brodie in Austin (TX),stray,NaN,wnl,1.410799e+09,15.0,0.0,owner_return,Senior,brown,white

In [4]:
df['breed'].nunique()

2588

In [5]:
# lowercase and strip extra white space for breed names
df['breed'] = df['breed'].str.lower().str.strip()

# remove 'mix' at the end of the breed name
df['breed'] = df['breed'].str.replace(' mix', '')

# expand pitbull to pit bull for consistency
df['breed'].replace('pitbull', 'pit bull', inplace=True)

In [6]:
df[df['breed'].str.contains('/') == False]['breed'].nunique()

285

In [7]:
df[df['breed'].str.contains('/')].head()

,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,intake_subtype,condition,date_out,age_out,intact_out,outcome,age,primary_color,secondary_color
2,A141142,labrador retriever/pit bull,Black/White,896659200.0,0.0,1.384613e+09,15.0,0.0,Austin (TX),stray,NaN,aged,1.384688e+09,15.0,0.0,owner_return,Senior,black,white
10,A212672,german shepherd/labrador retriever,Tan/Black,952214400.0,0.0,1.385400e+09,13.0,1.0,14611 Wells Port Dr in Austin (TX),stray,NaN,wnl,1.386340e+09,13.0,1.0,owner_return,Senior,tan,black
16,A226069,labrador retriever/beagle,Sable/White,961200000.0,1.0,1.444135e+09,15.0,0.0,Wheless Ln And Berkman Dr in Austin (TX),stray,NaN,wnl,1.446131e+09,15.0,0.0,adopted,Senior,sable,white
17,A228887,catahoula/labrador retriever,Blue Merle/Tan,988329600.0,0.0,1.384016e+09,12.0,0.0,Lincolnshire in Austin (TX),stray,NaN,wnl,1.384019e+09,12.0,0.0,owner_return,Senior,blue,merle
19,A233812,rottweiler/chow chow,Brown/Black,991958400.0,1.0,1.410014e+09,13.0,0.0,12317 Wycliff Ln in Austin (TX),stray,NaN,aged,1.410030e+09,13.0,0.0,owner_return,Senior,brown,black

In [8]:
df[df['breed'].str.contains('/')]['breed'].nunique()

2023

In [9]:
df['breed'].value_counts(ascending=True)[df['breed'].value_counts(ascending=True) == 1]

welsh spr span                                 1
blue lacy/cardigan welsh corgi                 1
chinese sharpei/chow chow                      1
maltese/cocker spaniel                         1
english springer spaniel/labrador retriever    1
                                              ..
schipperke/catahoula                           1
german shorthair pointer/bluetick hound        1
bulldog/chinese sharpei                        1
st. bernard rough coat/beagle                  1
weimaraner/american bulldog                    1
Name: breed, Length: 917, dtype: int64

In [10]:
# regex to replace breed names to remain consistent
df['breed'] = df['breed'].map(lambda x: re.sub('labrador retr\Z', 'labrador retriever', x))
df['breed'] = df['breed'].map(lambda x: re.sub('germ\sshepherd', 'german shepherd', x))
df['breed'] = df['breed'].map(lambda x: re.sub('^staffordshire$', 'american staffordshire terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua shorthair', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua longhair', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua sh', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua lh', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('airedale terr\Z', 'airedale terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('amer ', 'american', x))
df['breed'] = df['breed'].map(lambda x: re.sub('alask ', 'alaskan', x))
df['breed'] = df['breed'].map(lambda x: re.sub('am pit bull ter', 'pit bull', x))
df['breed'] = df['breed'].map(lambda x: re.sub('aust ', 'australian', x))
df['breed'] = df['breed'].map(lambda x: re.sub('american bulldog', 'bulldog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('english bulldog', 'bulldog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('black/tan hound', 'black and tan coonhound', x))
# start of nate edit
df['breed'] = df['breed'].map(lambda x: re.sub('yorkshire terr\Z', 'yorkshire terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('australiancattle dog', 'australian cattle dog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('anatol shepherd', 'anatolian sheepdog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('doberman pinsch\Z', 'doberman pinscher', x))
df['breed'] = df['breed'].map(lambda x: re.sub('poodle min\Z', 'miniature poodle', x))
df['breed'] = df['breed'].map(lambda x: re.sub('alaskan husky', 'siberian husky', x))
df['breed'] = df['breed'].map(lambda x: re.sub('rat terrier', 'fox terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('wire hair fox terrier', 'fox terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('americanbulldog', 'bulldog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('australianshepherd', 'australian shepherd', x))
df['breed'] = df['breed'].map(lambda x: re.sub('dachshund wirehair', 'dachshund', x))
df['breed'] = df['breed'].map(lambda x: re.sub('american staff\Z', 'american staffordshire terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('dachshund longhair', 'dachshund', x))
df['breed'] = df['breed'].map(lambda x: re.sub('schnauzer min\Z', 'miniature schnauzer', x))
df['breed'] = df['breed'].map(lambda x: re.sub('flat coat retriever', 'flat-coated retriever', x))
df['breed'] = df['breed'].map(lambda x: re.sub('collie smooth', 'collie', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chinese sharpei', 'chinese shar pei', x))
df['breed'] = df['breed'].map(lambda x: re.sub('queensland heeler', 'australian cattle dog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('rhod ridgeback', 'rhodesian ridgeback', x))
df['breed'] = df['breed'].map(lambda x: re.sub('german shorthair pointer', 'german shorthaired pointer', x))
df['breed'] = df['breed'].map(lambda x: re.sub('manchester terrier', 'standard manchester terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('collie rough', 'collie', x))
df['breed'] = df['breed'].map(lambda x: re.sub('golden retr\Z', 'golden retriever', x))
df['breed'] = df['breed'].map(lambda x: re.sub('soft coated wheaten terrier', 'soft-coated wheaten terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('west highland\Z', 'west highland white terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('australian kelpie', 'australian cattle dog', x))
df['breed'] = df['breed'].map(lambda x: re.sub('redbone hound', 'redbone coonhound', x))
df['breed'] = df['breed'].map(lambda x: re.sub('eng bulldog', 'bulldog', x))

In [11]:
# read in breed info for all dogs, convert it to a dictionary
all_dogs = pd.read_csv('./datasets/all_breeds_info.csv')
pure_dogs = pd.read_csv('./datasets/dog_intelligence.csv')
master_list = set(list(all_dogs['breed']) + list(pure_dogs['Breed'].str.lower()))
all_dogs = all_dogs.to_dict(orient='records')

In [12]:
df.head()

,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,intake_subtype,condition,date_out,age_out,intact_out,outcome,age,primary_color,secondary_color
0,A047759,dachshund,Tricolor,1.080864e+09,1.0,1.396454e+09,10.0,0.0,Austin (TX),surrender,NaN,wnl,1.396884e+09,10.0,0.0,transfer,Senior,tricolor,tricolor
1,A134067,shetland sheepdog,Brown/White,8.769600e+08,1.0,1.384593e+09,16.0,0.0,12034 Research Blvd in Austin (TX),public_assist,NaN,med_attn,1.384603e+09,16.0,0.0,owner_return,Senior,brown,white
2,A141142,labrador retriever/pit bull,Black/White,8.966592e+08,0.0,1.384613e+09,15.0,0.0,Austin (TX),stray,NaN,aged,1.384688e+09,15.0,0.0,owner_return,Senior,black,white
3,A163459,miniature schnauzer,Black/Gray,9.402912e+08,0.0,1.415978e+09,15.0,1.0,Ih 35 And 41St St in Austin (TX),stray,NaN,wnl,1.415993e+09,15.0,1.0,owner_return,Senior,black,gray
4,A165752,lhasa apso,Brown/White,9.349344e+08,1.0,1.410780e+09,15.0,0.0,Gatlin Gun Rd And Brodie in Austin (TX),stray,NaN,wnl,1.410799e+09,15.0,0.0,owner_return,Senior,brown,white

In [13]:
df['breed_1'] = np.nan
df['breed_2'] = np.nan
df['pure'] = np.nan

In [14]:
def breed_check(x):
    if x in master_list:
        return x

df['breed_1'] = df['breed'].apply(breed_check)
df['breed_2'] = df['breed'].apply(breed_check)
df['pure'] = np.where(df['breed_1'] == df['breed_2'], 1, np.nan)

In [15]:
df['breed_1'].isna().sum()

23163

In [16]:
df['pure'].isna().sum()

23163

In [17]:
df[df['breed_1'].isna()]['breed'].value_counts()

catahoula                                        1346
black mouth cur                                   781
labrador retriever/pit bull                       569
chihuahua/dachshund                               549
german shepherd/labrador retriever                536
                                                 ...
black and tan coonhound/great dane                  1
yorkshire terrier/soft-coated wheaten terrier       1
weimaraner/plott hound                              1
rhodesian ridgeback/pointer                         1
welsh spr span                                      1
Name: breed, Length: 1942, dtype: int64

In [18]:
# loops over all breeds in dataframe
df_mini = df[(df['breed_1'].isna()) & (df['breed'].str.contains('/'))].copy()
for i, dog in df_mini['breed'].items():

    # splits the dogs on the '/'
    breeds = dog.split('/')

    # checks if any items of breeds is in the master list of dog breeds
    if not set(breeds).isdisjoint(master_list):
        
        # checks both position combinations
        if (breeds[0] in master_list) and (breeds[1] in master_list):
            df.loc[i, 'breed_1'] = breeds[0]
            df.loc[i, 'breed_2'] = breeds[1]

In [19]:
df['breed_1'].isna().sum()

7115

In [20]:
for i, v in df[df['breed'].str.contains('/')]['breed'].items():
    v = v.split('/')
    if v[0] in master_list and not v[1] in master_list:
        df.loc[i, 'breed_1'] = v[0]
        df.loc[i, 'breed_2'] = 'mix'
    elif not v[0] in master_list and v[1] in master_list:
        df.loc[i, 'breed_1'] = v[1]
        df.loc[i, 'breed_2'] = 'mix'

In [21]:
df['breed_1'].isna().sum()

5202

In [22]:
set(df[df['breed_1'].isna()]['breed']).difference(master_list)

{'akbash',
 'alaskan klee kai',
 'alaskanklee kai',
 'alaskanmalamute',
 'americaneskimo',
 'americanfoxhound',
 'americanwater span',
 'australiankelpie',
 'australianterrier',
 'bedlington terr',
 'belg malinois',
 'belg sheepdog',
 'belg tervuren',
 'bernese hound',
 'bernese mtn dog',
 'black mouth cur',
 'black mouth cur/blue lacy',
 'black mouth cur/catahoula',
 'black mouth cur/staffordshire',
 'blue lacy',
 'blue lacy/black mouth cur',
 'blue lacy/staffordshire',
 'bluetick hound',
 'bluetick hound/treeing walker coonhound',
 'boerboel',
 'boykin span',
 'bruss griffon',
 'bull terr min',
 'bull terrier miniature',
 'cane corso',
 'cane corso/blue lacy',
 'carolina dog',
 'carolina dog/catahoula',
 'catahoula',
 'catahoula/black mouth cur',
 'catahoula/carolina dog',
 'catahoula/english coonhound',
 'catahoula/staffordshire',
 'catahoula/treeing walker coonhound',
 'cavalier span',
 'chesa bay retr',
 'cocker span',
 'coton de tulear',
 'curlycoat retr',
 'dachshund lh',
 'dachshund stan',
 'dachshund wh',
 'dandie dinmont',
 'doberman pinsch/black mouth cur',
 'doberman pinsch/catahoula',
 'dogo argentino',
 'dogue de bordeaux',
 'dogue de bordx',
 'dutch sheepdog',
 'dutch shepherd',
 'eng cocker span',
 'eng coonhound',
 'eng foxhound',
 'eng pointer',
 'eng setter',
 'eng shepherd',
 'eng sprngr span',
 'eng toy spaniel',
 'english coonhound',
 'english pointer',
 'english shepherd',
 'entlebucher',
 'eurasier',
 'feist',
 'flat coat retr',
 'fox terr smooth',
 'fox terr wire',
 'germ sh point',
 'germ wh point',
 'glen of imaal',
 'gr swiss mtn',
 'grand basset griffon vendeen',
 'greater swiss mountain dog',
 'hovawart',
 'ital greyhound',
 'jack russ terr',
 'jindo',
 'kangal',
 'lakeland terr',
 'landseer',
 'leonberger',
 'lowchen',
 'manchester terr',
 'mex hairless',
 'mexican hairless',
 'min pinscher',
 'mixed',
 'neapolitan mast',
 'neapolitan mastiff',
 'ns duck tolling',
 'old bulldog',
 'oldeng sheepdog',
 'parson russ ter',
 'parson russell terrier',
 'patterdale terr',
 'pbgv',
 'picardy sheepdg',
 'picardy sheepdog',
 'podengo pequeno',
 'poodle stnd',
 'poodle toy',
 'port water dog',
 'presa canario',
 'queensland heel',
 'retriever',
 'sc wheat terr',
 'schnauzer giant',
 'schnauzer stand',
 'scot terrier',
 'sealyham terr',
 'shepherd',
 'shetld sheepdog',
 'span water dog',
 'spanish mastiff',
 'spanish water dog',
 'st bernard rgh',
 'st bernard smth',
 'st. bernard rough coat',
 'st. bernard smooth coat',
 'staffordshire/blue lacy',
 'sussex span',
 'swedish vallhund',
 'swiss hound',
 'tenn tr brindle',
 'terrier',
 'tibetan terr',
 'tr walker hound',
 'treeing cur',
 'treeing tennesse brindle',
 'treeing walker coonhound',
 'unknown',
 'welsh corgi car',
 'welsh corgi pem',
 'welsh spr span',
 'west highland/patterdale terr',
 'wh pt griffon',
 'wirehaired vizsla',
 'wolf hybrid'}

In [23]:
df[df['breed_1'].isna()]['breed'].value_counts()[:20]

catahoula                   1346
black mouth cur              781
blue lacy                    337
carolina dog                 216
dutch shepherd               124
cane corso                   116
english coonhound            103
pbgv                         100
treeing walker coonhound      98
parson russell terrier        97
parson russ ter               90
bruss griffon                 78
belg malinois                 71
min pinscher                  70
bluetick hound                62
cavalier span                 59
english pointer               53
cocker span                   50
st. bernard rough coat        48
st bernard smth               46
Name: breed, dtype: int64

In [24]:
df.head()

,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,...,date_out,age_out,intact_out,outcome,age,primary_color,secondary_color,breed_1,breed_2,pure
0,A047759,dachshund,Tricolor,1.080864e+09,1.0,1.396454e+09,10.0,0.0,Austin (TX),surrender,...,1.396884e+09,10.0,0.0,transfer,Senior,tricolor,tricolor,dachshund,dachshund,1.0
1,A134067,shetland sheepdog,Brown/White,8.769600e+08,1.0,1.384593e+09,16.0,0.0,12034 Research Blvd in Austin (TX),public_assist,...,1.384603e+09,16.0,0.0,owner_return,Senior,brown,white,shetland sheepdog,shetland sheepdog,1.0
2,A141142,labrador retriever/pit bull,Black/White,8.966592e+08,0.0,1.384613e+09,15.0,0.0,Austin (TX),stray,...,1.384688e+09,15.0,0.0,owner_return,Senior,black,white,labrador retriever,pit bull,NaN
3,A163459,miniature schnauzer,Black/Gray,9.402912e+08,0.0,1.415978e+09,15.0,1.0,Ih 35 And 41St St in Austin (TX),stray,...,1.415993e+09,15.0,1.0,owner_return,Senior,black,gray,miniature schnauzer,miniature schnauzer,1.0
4,A165752,lhasa apso,Brown/White,9.349344e+08,1.0,1.410780e+09,15.0,0.0,Gatlin Gun Rd And Brodie in Austin (TX),stray,...,1.410799e+09,15.0,0.0,owner_return,Senior,brown,white,lhasa apso,lhasa apso,1.0

In [25]:
df.shape

(132618, 22)

In [26]:
df.to_csv('./datasets/cleaned_data/texas_shelters_active.csv', index=False)