In [2]:
import pandas as pd

In [3]:
# reads in data and merges them into 1 dataframe
intel = pd.read_csv('./datasets/dog_intelligence.csv')
info = pd.read_csv('./datasets/akc_breed_info.csv', encoding="ISO-8859-1")

breeds = pd.merge(intel, info, on='Breed')
breeds.head(2)

,Breed,Classification,obey,reps_lower,reps_upper,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Border Collie,Brightest Dogs,95%,1,4,19,21,40,40
1,Golden Retriever,Brightest Dogs,95%,1,4,21,24,55,75

In [4]:
# lowercases column names
breeds.columns = breeds.columns.str.lower()

In [7]:
breeds['breed'] = breeds['breed'].str.lower()

In [8]:
# fills null values with 10%
breeds.fillna('10%', inplace=True)

In [9]:
# converts % into a float
breeds['obey'] = breeds['obey'].map(lambda x: float(x.split('%')[0])/100)

In [10]:
breeds.head(2)

,breed,classification,obey,reps_lower,reps_upper,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,border collie,Brightest Dogs,0.95,1,4,19,21,40,40
1,golden retriever,Brightest Dogs,0.95,1,4,21,24,55,75

In [11]:
breeds.to_csv('./datasets/breeds_info_clean.csv', index=False)