In [145]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
import re

In [146]:
# url of mixed dog breeds
url = 'https://www.dogbreedinfo.com/hybriddogs.htm'

In [147]:
res = requests.get(url)
res.status_code

200

In [148]:
# soup of all the <li> of dog breeds
soup = BeautifulSoup(res.content, 'lxml')
list_items = soup.find('div', {'class': 'container'}).find_all('li')

# Extract dog name and breeds from soup

In [149]:
# https://stackoverflow.com/questions/6116978/how-to-replace-multiple-substrings-of-a-string
# Three lines of code below taken from stackoverflow, answered by Andrew Clark

# dictionary of things to replace
rep = {'(': '', ')':'', 'mix':'', ' - ':'', '\xa0': ' ', '-\t':'', '- ':'', '= ': ''}
# this code does some stuff and works! 
# It goes along with the "pattern.sub(lambda m: rep[re.escape(m.group(0))]" used in the loop
rep = dict((re.escape(k), v) for k, v in rep.items()) 
pattern = re.compile("|".join(rep.keys()))


# initialize empty list to add dogs to
dogs = []

# iterates over lists of dog names and breeds
for li in list_items[5:]:

    mutt = {}

    # breaks out of lists of dogs at the end of the loop
    if li.text == 'Mixed Breed Dog Information':
        break

    # if the <li> has an <a> tag
    if li.find('a'):

        # cleans the name of the dog
        # regex pattern to sub characters from breeds. (parenthesis, the word 'mix', random chars, etc)
        name = li.find('a').text.lower().strip()
        breeds = pattern.sub(lambda m: rep[re.escape(m.group(0))], li.contents[-1]).lower().strip().split(' x ')

        # assigns name and breeds to mutt dict
        mutt['name'] = name
        mutt['breeds'] = [breed.strip() for breed in breeds]

    # if there is no <a> in the <li>
    else:
    
        # cleans the name and breeds to be able to split. ".replace" chains to make all input usuable
        cleaned_name = li.text.lower().replace(' -', ' - ').replace('- ', ' - ').replace('\xa0',' ').split(' - ')[0].strip()
        cleaned_breed = li.text.lower().replace(' -', ' - ').replace('- ', ' - ').replace('\xa0',' ').split(' - ')[1].strip()

        # regex pattern to sub characters from name and breeds. (parenthesis, the word 'mix', random chars, etc)
        name = pattern.sub(lambda m: rep[re.escape(m.group(0))], cleaned_name).strip()
        breeds = pattern.sub(lambda m: rep[re.escape(m.group(0))], cleaned_breed).strip().split(' x ')

        # assigns name and breeds to mutt dict
        mutt['name'] = name
        mutt['breeds'] = [breed.strip() for breed in breeds]

    # appends dog name and breeds to dogs list
    dogs.append(mutt)
    # print(f"{name} added.")

# Fixing breed names

In [150]:
breeds_to_fix = []
names = []

# iterates over all the dogs
for dog in dogs:
    
    # iterates over all the breeds for each dog
    for breed in dog['breeds']:

        # checks for weirdness in the breeds and assigns that dog to a list to be dealt with. BAD DOG!
        if ' with ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' or ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' the ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' ed ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' Miniature ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' Toy ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)
        elif ' Mini ' in breed:
            names.append(dog['name'])
            breeds_to_fix.append(dog)

In [151]:
# removes all the bad dogs
for dog in dogs:
    if dog['name'] in names:
        dogs.remove(dog)

# Split up multiple breeds listed as 1 breed

In [152]:
breeds_to_fix[0]

{'name': 'aussie-corgi',
 'breeds': ['australian shepherd or miniature australian shepherd',
  'pembroke welch corgi']}

In [153]:
dogs.append(
    {
        "name": "aussie-corgi",
        "breeds": ["australian shepherd", "pembroke welch corgi",],
    }
)

dogs.append(
    {
        "name": "aussie-corgi",
        "breeds": ["miniature australian shepherd", "pembroke welch corgi",],
    }
)

In [154]:
breeds_to_fix[1]

{'name': 'aussie pom',
 'breeds': ['australian shepherd or mini or toy australian shepherd',
  'pomeranian']}

In [155]:
dogs.append(
    {"name": "aussie pom", "breeds": ["australian shepherd", "pomeranian"],}
)

dogs.append(
    {"name": "aussie pom", "breeds": ["toy australian shepherd", "pomeranian"],}
)

dogs.append(
    {"name": "aussie pom", "breeds": ["mini australian shepherd", "pomeranian"],}
)

In [156]:
breeds_to_fix[2]

{'name': 'austi-pap',
 'breeds': ['australian shepherd standard, toy or miniature', 'papillon']}

In [157]:
dogs.append(
    {"name": "austi-pap", "breeds": ["australian shepherd", "papillon"],}
)

dogs.append(
    {"name": "austi-pap", "breeds": ["miniature australian shepherd", "papillon"],}
)

dogs.append(
    {"name": "austi-pap", "breeds": ["toy australian shepherd", "papillon"],}
)

In [158]:
breeds_to_fix[3]

{'name': 'beagi', 'breeds': ['beagle', 'pembroke or cardigan welsh corgi']}

In [159]:
dogs.append({"name": "beagi", "breeds": ["beagle", "pembroke"]})

dogs.append({"name": "beagi", "breeds": ["beagle", "cardigan welsh corgi"]})

In [160]:
breeds_to_fix[4]

{'name': 'border stack',
 'breeds': ['border collie ed with jack russell terrier',
  'staffordshire bull terrier']}

In [161]:
# what to do here?
{
    "name": "border stack",
    "breeds": [
        "border collie ed with jack russell terrier",
        "staffordshire bull terrier",
    ],
}

{
    "name": "border stack",
    "breeds": [
        "border collie ed with jack russell terrier",
        "staffordshire bull terrier",
    ],
}

{'name': 'border stack',
 'breeds': ['border collie ed with jack russell terrier',
  'staffordshire bull terrier']}

In [162]:
breeds_to_fix[5]

{'name': 'bully pitsky',
 'breeds': ['american bully', 'siberian husky or alaskan husky']}

In [163]:
dogs.append(
    {"name": "bully pitsky", "breeds": ["american bully", "siberian husky"],}
)

dogs.append(
    {"name": "bully pitsky", "breeds": ["american bully", "alaskan husky"],}
)

In [164]:
breeds_to_fix[6]

{'name': 'cotralian',
 'breeds': ['cocker spaniel',
  'standard, miniature or toy australian shepherd']}

In [165]:
dogs.append(
    {"name": "cotralian", "breeds": ["cocker spaniel", "australian shepherd"],}
)

dogs.append(
    {"name": "cotralian", "breeds": ["cocker spaniel", "toy australian shepherd"],}
)

dogs.append(
    {
        "name": "cotralian",
        "breeds": ["cocker spaniel", "miniature australian shepherd"],
    }
)

In [166]:
breeds_to_fix[7]

{'name': 'english cotralian',
 'breeds': ['english cocker spaniel',
  'standard, miniature or toy australian shepherd']}

In [167]:
dogs.append(
    {
        "name": "english cotralian",
        "breeds": ["english cocker spaniel", "australian shepherd",],
    }
)

dogs.append(
    {
        "name": "english cotralian",
        "breeds": ["english cocker spaniel", "toy australian shepherd",],
    }
)

dogs.append(
    {
        "name": "english cotralian",
        "breeds": ["english cocker spaniel", "miniature australian shepherd",],
    }
)

In [168]:
breeds_to_fix[8]

{'name': 'labradoodle miniature',
 'breeds': ['labrador retriever', 'toy or miniature poodle']}

In [169]:
dogs.append(
    {
        "name": "labradoodle miniature",
        "breeds": ["labrador retriever", "miniature poodle"],
    }
)

dogs.append(
    {"name": "labradoodle miniature", "breeds": ["labrador retriever", "toy poodle"],}
)

In [170]:
breeds_to_fix[9]

{'name': 'miniature goldendoodle',
 'breeds': ['golden retriever', 'toy or miniature poodle']}

In [171]:
dogs.append({
    "name": "miniature goldendoodle",
    "breeds": ["golden retriever", "miniature poodle"],
})

dogs.append({
    "name": "miniature goldendoodle",
    "breeds": ["golden retriever", "toy poodle"],
})

In [172]:
breeds_to_fix[10]

{'name': 'miniature labradoodle',
 'breeds': ['labrador retriever', 'toy or miniature poodle']}

In [173]:
dogs.append(
    {
        "name": "miniature labradoodle",
        "breeds": ["labrador retriever", "miniature poodle"],
    }
)

dogs.append(
    {"name": "miniature labradoodle", "breeds": ["labrador retriever", "toy poodle"],}
)

In [174]:
breeds_to_fix[11]

{'name': 'old anglican bulldogge',
 'breeds': ['american pit bull terrier or american staffordshire terrier',
  'bulldog']}

In [175]:
dogs.append(
    {
        "name": "old anglican bulldogge",
        "breeds": ["american pit bull terrier", "bulldog",],
    }
)

dogs.append(
    {
        "name": "old anglican bulldogge",
        "breeds": ["american staffordshire terrier", "bulldog",],
    }
)

In [176]:
breeds_to_fix[12]

{'name': 'pitsky',
 'breeds': ['american pitbull terrier', 'siberian husky or alaskan husky']}

In [177]:
dogs.append({"name": "pitsky", "breeds": ["american pitbull terrier", "alaskan husky"]})

dogs.append({"name": "pitsky", "breeds": ["american pitbull terrier", "siberian husky"]})

In [178]:
breeds_to_fix[13]

{'name': 'shel-aussie',
 'breeds': ['australian shepherd or miniature australian shepherd',
  'shetland sheepdog']}

In [179]:
dogs.append(
    {"name": "shel-aussie", "breeds": ["australian shepherd", "shetland sheepdog",],}
)

dogs.append(
    {
        "name": "shel-aussie",
        "breeds": ["miniature australian shepherd", "shetland sheepdog",],
    }
)

In [180]:
breeds_to_fix[14]

{'name': 'sibercaan',
 'breeds': ['siberian husky or native american indian dog', 'canaan dog']}

In [181]:
dogs.append({"name": "sibercaan", "breeds": ["siberian husky", "canaan dog"]})

dogs.append(
    {"name": "sibercaan", "breeds": ["native american indian dog", "canaan dog"]}
)

In [182]:
df = pd.DataFrame(dogs)
df.head(2)

     name                              breeds
0  afador  [afghan hound, labrador retriever]
1  afaird              [afghan hound, briard]

In [183]:
# removes minicoonhound, breed information available
df = df[df['name'] != 'minicoonhound']

In [184]:
# saves mutts to csv
df.to_csv('./datasets/mutts.csv', index=False)

# Applying purebred stats to mutts, combining data sets

In [185]:
purebred_stats = pd.read_csv('./datasets/breeds_info_clean.csv')

In [186]:
# assign 1 to purebreds
# breed_1 and breed_2 set to the purebred's name
purebred_stats['purebred'] = 1
purebred_stats['breed_1'] = purebred_stats['breed']
purebred_stats['breed_2'] = purebred_stats['breed']

In [187]:
purebred_stats.head()

,breed,classification,obey,reps_lower,reps_upper,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,purebred,breed_1,breed_2
0,border collie,brightest dogs,0.95,1,4,19.0,21.0,40,40,1,border collie,border collie
1,german shepherd,brightest dogs,0.95,1,4,22.0,26.0,75,90,1,german shepherd,german shepherd
2,golden retriever,brightest dogs,0.95,1,4,21.0,24.0,55,75,1,golden retriever,golden retriever
3,doberman pinscher,brightest dogs,0.95,1,4,26.0,28.0,60,100,1,doberman pinscher,doberman pinscher
4,labrador retriever,brightest dogs,0.95,1,4,21.0,24.0,55,80,1,labrador retriever,labrador retriever

In [188]:
purebred_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   breed               126 non-null    object
 1   classification      126 non-null    object
 2   obey                126 non-null    float64
 3   reps_lower          126 non-null    int64
 4   reps_upper          126 non-null    int64
 5   height_low_inches   126 non-null    float64
 6   height_high_inches  126 non-null    float64
 7   weight_low_lbs      126 non-null    int64
 8   weight_high_lbs     126 non-null    int64
 9   purebred            126 non-null    int64
 10  breed_1             126 non-null    object
 11  breed_2             126 non-null    object
dtypes: float64(3), int64(5), object(4)
memory usage: 11.9+ KB

In [189]:
# creates a set of purebred names for use in .issubset()
purebreds = set(purebred_stats['breed'])

mutt_stats = []

# iterates over all the mutts
for dog in dogs:

    # if the the two breeds that make up a mutt are in the purebred set, do this
    if set(dog['breeds']).issubset(purebreds):
        
        new_dog = {}

        # assigns the mutt name
        new_dog['breed'] = dog['name']

        # obey
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_obey = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['obey'].values[0]
        d2_obey = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['obey'].values[0]
        new_dog['obey'] = (d1_obey + d2_obey) / 2

        # reps_lower
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_reps_lower = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['reps_lower'].values[0]
        d2_reps_lower = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['reps_lower'].values[0]
        new_dog['reps_lower'] = (d1_reps_lower + d2_reps_lower) / 2

        # reps_upper
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_reps_upper = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['reps_upper'].values[0]
        d2_reps_upper = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['reps_upper'].values[0]
        new_dog['reps_upper'] = (d1_reps_upper + d2_reps_upper) / 2

        # height_low_inches
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_height_low_inches = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['height_low_inches'].values[0]
        d2_height_low_inches = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['height_low_inches'].values[0]
        new_dog['height_low_inches'] = (d1_height_low_inches + d2_height_low_inches) / 2

        # height_high_inches
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_height_high_inches = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['height_high_inches'].values[0]
        d2_height_high_inches = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['height_high_inches'].values[0]
        new_dog['height_high_inches'] = (d1_height_high_inches + d2_height_high_inches) / 2

        # weight_low_lbs
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_weight_low_lbs = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['weight_low_lbs'].values[0]
        d2_weight_low_lbs = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['weight_low_lbs'].values[0]
        new_dog['weight_low_lbs'] = (d1_weight_low_lbs + d2_weight_low_lbs) / 2

        # weight_high_lbs
        # takes the stats from each purebred, takes the average, applies it to the mutt
        d1_weight_high_lbs = purebred_stats[purebred_stats['breed'] == dog['breeds'][0]]['weight_high_lbs'].values[0]
        d2_weight_high_lbs = purebred_stats[purebred_stats['breed'] == dog['breeds'][1]]['weight_high_lbs'].values[0]
        new_dog['weight_high_lbs'] = (d1_weight_high_lbs + d2_weight_high_lbs) / 2

        # assigns a 0 for all the mutts in the purebred column
        new_dog['purebred'] = 0

        # assigns breed 1 and breed 2 to columns that make up the mutt
        new_dog['breed_1'] = dog['breeds'][0]
        new_dog['breed_2'] = dog['breeds'][1]

        # add mutt with stats to the list
        mutt_stats.append(new_dog)
        
        
mutts = pd.DataFrame(mutt_stats)
mutts.head(2)

,breed,obey,reps_lower,reps_upper,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,purebred,breed_1,breed_2
0,afador,0.525,41.0,52.0,23.0,25.5,52.5,70.0,0,afghan hound,labrador retriever
1,afaird,0.400,48.5,62.5,24.0,27.0,62.0,68.0,0,afghan hound,briard

In [190]:
# concat purebreds and mutts
all_dogs = pd.concat([purebred_stats, mutts])
all_dogs.head()

,breed,classification,obey,reps_lower,reps_upper,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,purebred,breed_1,breed_2
0,border collie,brightest dogs,0.95,1.0,4.0,19.0,21.0,40.0,40.0,1,border collie,border collie
1,german shepherd,brightest dogs,0.95,1.0,4.0,22.0,26.0,75.0,90.0,1,german shepherd,german shepherd
2,golden retriever,brightest dogs,0.95,1.0,4.0,21.0,24.0,55.0,75.0,1,golden retriever,golden retriever
3,doberman pinscher,brightest dogs,0.95,1.0,4.0,26.0,28.0,60.0,100.0,1,doberman pinscher,doberman pinscher
4,labrador retriever,brightest dogs,0.95,1.0,4.0,21.0,24.0,55.0,80.0,1,labrador retriever,labrador retriever

In [191]:
all_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 781 entries, 0 to 654
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   breed               781 non-null    object
 1   classification      126 non-null    object
 2   obey                781 non-null    float64
 3   reps_lower          781 non-null    float64
 4   reps_upper          781 non-null    float64
 5   height_low_inches   781 non-null    float64
 6   height_high_inches  781 non-null    float64
 7   weight_low_lbs      781 non-null    float64
 8   weight_high_lbs     781 non-null    float64
 9   purebred            781 non-null    int64
 10  breed_1             781 non-null    object
 11  breed_2             781 non-null    object
dtypes: float64(7), int64(1), object(4)
memory usage: 79.3+ KB

In [192]:
# all dogs to csv
all_dogs.to_csv('./datasets/all_breeds_info.csv', index=False)