In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./datasets/new_york_dog_bite_data.csv')
df

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,8140,December 02 2015,DOG,Pug,7,F,True,Staten Island,NaN
1,1,January 27 2015,DOG,Jack Russ,11,M,False,Brooklyn,11217
2,2,January 25 2015,DOG,"Mastiff, Bull",NaN,U,False,Brooklyn,NaN
3,3,January 20 2015,DOG,PIT BULL/GOLDEN RETRIVE X,NaN,U,False,Brooklyn,11236
4,4,December 26 2014,DOG,Doberman Pinscher,NaN,M,False,Brooklyn,11204
...,...,...,...,...,...,...,...,...,...
8702,8703,January 05 2018,DOG,Boxer,NaN,U,False,Staten Island,10309
8703,8704,January 06 2018,DOG,MIXED BREED,NaN,M,False,Staten Island,NaN
8704,8705,January 08 2018,DOG,"Poodle, Miniature",NaN,M,True,Staten Island,10314
8705,8706,January 14 2018,DOG,Mixed/Other,2,U,False,Staten Island,10312
8706,8707,January 24 2018,DOG,Pit Bull,1,U,False,Staten Island,NaN

In [6]:
len(df['UniqueID'].unique())

8707

In [7]:
df['Gender'].value_counts()

M    4121
U    2978
F    1608
Name: Gender, dtype: int64

In [8]:
df['SpayNeuter'].value_counts()

False    5735
True     2972
Name: SpayNeuter, dtype: int64

In [9]:
df['Species'].value_counts()

DOG    8707
Name: Species, dtype: int64

In [10]:
df = df.drop(columns = ['Species'])

In [16]:
df['Age'].value_counts().tail(0)

11Y                        3
4MTHS                      3
6 YRS                      3
1 YR                       3
9MTHS                      2
                          ..
2018-09-10T00:00:00.000    1
6y                         1
19                         1
3 & 4                      1
3y                         1
Name: Age, Length: 100, dtype: int64

In [18]:
df['Age_num'] = df.Age.str.extract(r'(\d+[.\d]*$)')
df['Age_num'] = df['Age_num'].astype(float)
df['Age_num'].value_counts()

2.0     817
3.0     734
1.0     653
4.0     550
5.0     506
6.0     388
7.0     315
8.0     278
9.0     160
10.0    157
11.0     98
12.0     67
13.0     57
0.0      43
14.0     32
15.0     22
16.0     12
2.5       6
17.0      3
4.6       2
3.5       2
1.6       2
1.3       2
1.5       2
2.6       1
15.5      1
19.0      1
0.6       1
6.5       1
3.6       1
10.5      1
4.5       1
0.2       1
1.8       1
21.0      1
Name: Age_num, dtype: int64