In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('./datasets/cleaned_data/texas_shelters.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head(2)

,Unnamed: 0,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,intake_subtype,condition,date_out,age_out,intact_out,outcome,outcome_sub
0,0,A047759,Dachshund,Tricolor,1.080864e+09,1.0,1.396454e+09,10.0,0.0,Austin (TX),Owner Surrender,NaN,Normal,1.396884e+09,10.0,0.0,Transfer,Partner
1,1,A134067,Shetland Sheepdog,Brown/White,8.769600e+08,1.0,1.384593e+09,16.0,0.0,12034 Research Blvd in Austin (TX),Public Assist,NaN,Injured,1.384603e+09,16.0,0.0,Return to Owner,NaN

In [5]:
df['breed'].nunique()

2588

In [6]:
# lowercase and strip extra white space for breed names
df['breed'] = df['breed'].str.lower().str.strip()

# remove 'mix' at the end of the breed name
df['breed'] = df['breed'].str.replace(' mix', '')

# expand pitbull to pit bull for consistency
df['breed'].replace('pitbull', 'pit bull', inplace=True)

In [9]:
df[df['breed'].str.contains('/') == False]['breed'].nunique()

285

In [10]:
df[df['breed'].str.contains('/')]

,Unnamed: 0,id,breed,color,dob,sex,date_in,age_in,intact_in,location,intake_type,intake_subtype,condition,date_out,age_out,intact_out,outcome,outcome_sub
2,2,A141142,labrador retriever/pit bull,Black/White,896659200.0,0.0,1.384613e+09,15.0,0.0,Austin (TX),Stray,NaN,Aged,1.384688e+09,15.0,0.0,Return to Owner,NaN
10,10,A212672,german shepherd/labrador retriever,Tan/Black,952214400.0,0.0,1.385400e+09,13.0,1.0,14611 Wells Port Dr in Austin (TX),Stray,NaN,Normal,1.386340e+09,13.0,1.0,Return to Owner,NaN
16,16,A226069,labrador retriever/beagle,Sable/White,961200000.0,1.0,1.444135e+09,15.0,0.0,Wheless Ln And Berkman Dr in Austin (TX),Stray,NaN,Normal,1.446131e+09,15.0,0.0,Adoption,Foster
17,17,A228887,catahoula/labrador retriever,Blue Merle/Tan,988329600.0,0.0,1.384016e+09,12.0,0.0,Lincolnshire in Austin (TX),Stray,NaN,Normal,1.384019e+09,12.0,0.0,Return to Owner,NaN
19,19,A233812,rottweiler/chow chow,Brown/Black,991958400.0,1.0,1.410014e+09,13.0,0.0,12317 Wycliff Ln in Austin (TX),Stray,NaN,Aged,1.410030e+09,13.0,0.0,Return to Owner,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127741,24493,A1071551,black/tan hound,NaN,NaN,NaN,1.572566e+09,NaN,NaN,NaN,OWNER SURRENDER,RETURN30,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,NaN,NaN,ADOPTION,WALK IN
130184,28684,A1086981,black/tan hound,NaN,NaN,NaN,1.572307e+09,NaN,NaN,NaN,OWNER SURRENDER,GENERAL,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,NaN,NaN,ADOPTION,PROMOTION
130185,28685,A1086981,black/tan hound,NaN,NaN,NaN,1.572912e+09,NaN,NaN,NaN,OWNER SURRENDER,RETURN30,APP WNL,NaN,NaN,NaN,ADOPTION,PROMOTION
131230,30107,A1088464,black/tan hound,NaN,NaN,NaN,1.573776e+09,NaN,NaN,NaN,STRAY,AT LARGE,UNKNOWN,NaN,NaN,NaN,RETURNED TO OWNER,FIELD
132504,31757,A1090699,black/tan hound,NaN,NaN,NaN,1.576022e+09,NaN,NaN,NaN,STRAY,AT LARGE,APP WNL,NaN,NaN,NaN,ADOPTION,EAC

In [60]:
df['breed'].value_counts(ascending=True)[df['breed'].value_counts(ascending=True) == 1]

flat coat retriever/australian cattle dog    1
queensland heeler/great dane                 1
pit bull/american foxhound                   1
pit bull/dogue de bordeaux                   1
spreagle                                     1
                                            ..
st. bernard rough coat/german shepherd       1
labrador retriever/irish setter              1
dachshund/english bulldog                    1
catahoula/mastiff                            1
wire hair fox terrier/golden retriever       1
Name: breed, Length: 850, dtype: int64

In [12]:
# regex to replace breed names to remain consistent
df['breed'] = df['breed'].map(lambda x: re.sub('labrador retr\Z', 'labrador retriever', x))
df['breed'] = df['breed'].map(lambda x: re.sub('germ\sshepherd', 'german shepherd', x))
df['breed'] = df['breed'].map(lambda x: re.sub('^staffordshire$', 'american staffordshire terrier', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua shorthair', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua longhair', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua sh', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('chihuahua lh', 'chihuahua', x))
df['breed'] = df['breed'].map(lambda x: re.sub('airedale terr\Z', 'airedale terrier', x))

In [63]:
# read in breed info for all dogs, convert it to a dictionary
all_dogs = pd.read_csv('./datasets/all_breeds_info.csv')
all_dogs = all_dogs.to_dict(orient='records')

In [64]:
matches = 0
not_matched = 0

# loops over all breeds in dataframe
for i, dog in enumerate(df['breed']):

    # checks if there is a '/' in the breed name
    if '/' in dog:

        # splits the dogs on the '/'
        breeds = dog.split('/')

        # loops over all the dogs in the master list
        for line in all_dogs:

            # patterns to check if breeds on either side of the '/' match up to a mutt in the master list
            # checks both position combinations
            pattern_1 = (breeds[0] == line['breed_1']) and (breeds[1] == line['breed_2'])
            pattern_2 = (breeds[1] == line['breed_1']) and (breeds[0] == line['breed_2'])
            
            # if po
            if  pattern_1:
                df.loc[i, 'breed_1'] = line['breed_1']
                df.loc[i, 'breed_2'] = line['breed_2']
                df.loc[i, 'breed'] = line['breed']

            elif pattern_2:
                df.loc[i, 'breed_1'] = line['breed_1']
                df.loc[i, 'breed_2'] = line['breed_2']
                df.loc[i, 'breed'] = line['breed']

In [65]:
df[df['breed'].str.contains('/')]['breed']

2                labrador retriever/pit bull
10        german shepherd/labrador retriever
17              catahoula/labrador retriever
26                        pit bull/catahoula
29                   border collie/catahoula
                         ...
127741                       black/tan hound
130184                       black/tan hound
130185                       black/tan hound
131230                       black/tan hound
132504                       black/tan hound
Name: breed, Length: 11723, dtype: object

In [70]:
master_list = pd.read_csv('./datasets/all_breeds_info.csv')

In [71]:
master_list = master_list['breed']
master_list

0               border collie
1             german shepherd
2            golden retriever
3           doberman pinscher
4          labrador retriever
                ...
776                     beagi
777                 cotralian
778         english cotralian
779    old anglican bulldogge
780    old anglican bulldogge
Name: breed, Length: 781, dtype: object

In [74]:
_ = df[df['breed'].str.contains('/')]['breed'].copy()

In [103]:
temp = []

In [104]:
_.map(lambda x: x.split('/')).map(lambda x: temp.append(x[0]) if len(x) > 2 else x)

2                [labrador retriever, pit bull]
10        [german shepherd, labrador retriever]
17              [catahoula, labrador retriever]
26                        [pit bull, catahoula]
29                   [border collie, catahoula]
                          ...
127741                       [black, tan hound]
130184                       [black, tan hound]
130185                       [black, tan hound]
131230                       [black, tan hound]
132504                       [black, tan hound]
Name: breed, Length: 11723, dtype: object

In [105]:
temp

['black',
 'german shepherd',
 'black',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'black',
 'plott hound',
 'german shepherd',
 'black',
 'black',
 'labrador retriever',
 'black',
 'german shepherd',
 'doberman pinsch',
 'black',
 'black',
 'labrador retriever',
 'basset hound',
 'black',
 'black',
 'black',
 'black',
 'dachshund',
 'black',
 'black',
 'black',
 'black',
 'black',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'black',
 'black',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'black',
 'black',
 'black',
 'black',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'german shepherd',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'labrador retriever',
 'black',
 'black',
 'black',
 'black']

In [95]:
_.map(lambda x: re.search(".*\.*\.*" , x))

2         <re.Match object; span=(0, 27), match='labrado...
10        <re.Match object; span=(0, 34), match='german ...
17        <re.Match object; span=(0, 28), match='catahou...
26        <re.Match object; span=(0, 18), match='pit bul...
29        <re.Match object; span=(0, 23), match='border ...
                                ...
127741    <re.Match object; span=(0, 15), match='black/t...
130184    <re.Match object; span=(0, 15), match='black/t...
130185    <re.Match object; span=(0, 15), match='black/t...
131230    <re.Match object; span=(0, 15), match='black/t...
132504    <re.Match object; span=(0, 15), match='black/t...
Name: breed, Length: 11723, dtype: object

In [17]:
# function to check similarity of breed names
import difflib

def check_sim(dog_breed, dataframe):
    """checks dog breeds in one data frame with dog breeds in another.
    Returns similarity score via difflib.SequenceMatcher and dog breed target resembles"""
    max_similarity = (0, "")
    for breed in list(dataframe['breed']):
        sim_test = difflib.SequenceMatcher(None, dog_breed, breed).ratio()                  # scores similarity between all dog breeds in two lists
        if sim_test > max_similarity[0]:
            max_similarity = (sim_test, breed)
    return max_similarity[0], max_similarity[1]

# similarity test adapted from stack overflow user: duhaime
# Gene's code, adapted for dogs

In [18]:
# df['breed'].map(lambda x: check_sim(x, all_dogs))