In [1]:
import pandas as pd

# Read in data

In [3]:
austin_intakes = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_intakes.csv')

In [4]:
austin_intakes.head(2)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver

In [5]:
austin_outcomes = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_outcomes.csv')

In [6]:
austin_outcomes.head(2)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown

In [16]:
austin_outcomes_2 = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_outcomes_2.csv')

In [17]:
austin_outcomes_2.head(2)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown

In [7]:
austin_animal_data = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_data.csv')

In [8]:
austin_animal_data.head(2)

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/09 0:00,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,5/13/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0
1,15932,12/8/09 0:00,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,4/24/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0

In [9]:
dallas_shelter_data = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/dallas_animal_shelter_data.csv')

In [11]:
dallas_shelter_data.head(2)

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A1093136,CAT,DOMESTIC SH,K01,IMPOUNDED,NaN,NaN,1,P0915082,5200,...,14:46:00,NaN,K20-494003,NaN,APP SICK,SCAN NO CHIP,OVER THE COUNTER,NaN,JAN.2020,FY2020
1,A1046046,DOG,PIT BULL,AD 085,UNAVAILABLE,NaN,A19-203263,1,P0740141,12900,...,14:56:00,R19-561166,K19-489088,NaN,APP WNL,SCAN CHIP,FIELD,ADOPTION,NOV.2019,FY2020

In [12]:
austin_intakes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color'],
      dtype='object')

In [13]:
austin_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [18]:
austin_outcomes_2.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [14]:
austin_animal_data.columns

Index(['id', 'intakedate', 'intakereason', 'istransfer', 'sheltercode',
       'identichipnumber', 'animalname', 'breedname', 'basecolour',
       'speciesname', 'animalage', 'sexname', 'location', 'movementdate',
       'movementtype', 'istrial', 'returndate', 'returnedreason',
       'deceaseddate', 'deceasedreason', 'diedoffshelter', 'puttosleep',
       'isdoa'],
      dtype='object')

In [15]:
dallas_shelter_data.columns

Index(['Animal Id', 'Animal Type', 'Animal Breed', 'Kennel Number',
       'Kennel Status', 'Tag Type', 'Activity Number', 'Activity Sequence',
       'Source Id', 'Census Tract', 'Council District', 'Intake Type',
       'Intake Subtype', 'Intake Total', 'Reason', 'Staff Id', 'Intake Date',
       'Intake Time', 'Due Out', 'Intake Condition', 'Hold Request',
       'Outcome Type', 'Outcome Subtype', 'Outcome Date', 'Outcome Time',
       'Receipt Number', 'Impound Number', 'Service Request Number',
       'Outcome Condition', 'Chip Status', 'Animal Origin',
       'Additional Information', 'Month', 'Year'],
      dtype='object')

# Filter datasets to only include dogs

## austin_intakes

In [48]:
austin_intakes[austin_intakes['Animal Type']!='Dog']['Animal Type'].unique()

array(['Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [49]:
austin_intakes[austin_intakes['Animal Type']!='Dog']

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
7,A844350,*Ella,10/15/2021 11:40:00 AM,October 2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A818975,NaN,06/18/2020 02:53:00 PM,June 2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
10,A774147,NaN,06/11/2018 07:45:00 AM,June 2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White
11,A731435,*Casey,08/08/2016 05:52:00 PM,August 2016,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
136276,A851251,A851251,02/09/2022 09:09:00 AM,February 2022,124 West Anderson Lane in Austin (TX),Stray,Normal,Cat,Intact Female,9 months,Domestic Shorthair,Brown Tabby
136279,A851273,A851273,02/09/2022 12:27:00 PM,February 2022,919 East 32Nd Street in Austin (TX),Stray,Sick,Cat,Spayed Female,10 years,Domestic Medium Hair,Blue
136281,A851268,NaN,02/09/2022 11:21:00 AM,February 2022,600 West 26Th Street in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair,Silver Tabby
136284,A851279,Whiskers,02/09/2022 02:16:00 PM,February 2022,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black
136286,A851280,Gemma,02/09/2022 02:16:00 PM,February 2022,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black

In [51]:
austin_intakes[austin_intakes['Animal Type']!='Dog'].index

Int64Index([     3,      7,      9,     10,     11,     15,     16,     17,
                18,     19,
            ...
            136230, 136237, 136261, 136265, 136272, 136276, 136279, 136281,
            136284, 136286],
           dtype='int64', length=59519)

In [52]:
austin_intakes_dogs = austin_intakes.drop(labels=austin_intakes[austin_intakes['Animal Type']!='Dog'].index)

In [53]:
austin_intakes_dogs['Animal Type'].unique()

array(['Dog'], dtype=object)

## austin_outcomes

#### Merge austin_outcomes and austin_outcomes2

In [60]:
austin_outcomes.tail(10)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
136528,A851114,NaN,02/09/2022 03:32:00 PM,Feb 2022,02/06/2021,Transfer,Partner,Bird,Intact Male,1 year,Chicken,Tricolor/White
136529,A847853,Kitchi,02/09/2022 04:00:00 PM,Feb 2022,12/09/2019,Euthanasia,Aggressive,Dog,Intact Male,2 years,Pit Bull Mix,Black/White
136530,A850992,*Gwen,02/09/2022 03:59:00 PM,Feb 2022,02/03/2014,Transfer,Partner,Dog,Intact Female,8 years,Miniature Poodle Mix,White
136531,A847741,Phantom,02/09/2022 03:08:00 PM,Feb 2022,09/22/2021,Adoption,NaN,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
136532,A850605,Hank,02/02/2022 03:54:00 PM,Feb 2022,11/27/2021,Adoption,NaN,Dog,Neutered Male,2 months,Great Pyrenees Mix,White/Black
136533,A850751,*Goldenbear,02/09/2022 03:54:00 PM,Feb 2022,01/31/2014,Transfer,Partner,Dog,Intact Male,8 years,German Shepherd Mix,Brown
136534,A850868,*Dora,02/09/2022 03:37:00 PM,Feb 2022,02/01/2020,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair,Tortie
136535,A850958,Ryuk,02/09/2022 03:58:00 PM,Feb 2022,06/02/2021,Transfer,Partner,Dog,Intact Male,8 months,German Shepherd Mix,Black/Tricolor
136536,A848401,*George,02/09/2022 03:55:00 PM,Feb 2022,06/20/2021,Transfer,Partner,Dog,Neutered Male,7 months,Labrador Retriever Mix,Black
136537,A850956,A850956,02/09/2022 03:41:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Australian Kelpie Mix,Brown Tiger

In [61]:
austin_outcomes_2.tail(40)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
136530,A847897,Spot,02/09/2022 04:55:00 PM,Feb 2022,01/10/2021,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black
136531,A850553,*Snow White,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Blue/White
136532,A850904,*Rasputin,02/09/2022 04:51:00 PM,Feb 2022,11/02/2021,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Blue
136533,A850548,*Thumbelina,02/09/2022 03:30:00 PM,Feb 2022,01/26/2020,Transfer,Partner,Dog,Intact Female,2 years,Pit Bull Mix,Brown/White
136534,A851218,Suzy,02/09/2022 04:25:00 PM,Feb 2022,02/08/2017,Return to Owner,NaN,Dog,Intact Female,5 years,Rat Terrier Mix,Gray/Black
136535,A850774,Jayco,02/09/2022 04:03:00 PM,Feb 2022,01/31/2019,Transfer,Partner,Dog,Intact Male,3 years,Pit Bull,Blue
136536,A850643,*Estella,02/09/2022 04:45:00 PM,Feb 2022,05/28/2021,Adoption,NaN,Dog,Spayed Female,8 months,Australian Cattle Dog Mix,Red/White
136537,A764603,Luna,02/09/2022 04:01:00 PM,Feb 2022,07/02/2017,Euthanasia,Aggressive,Dog,Spayed Female,4 years,Pit Bull Mix,Blue/White
136538,A850556,*Rapunzel,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Brown/White
136539,A850905,*Ivan,02/09/2022 04:58:00 PM,Feb 2022,11/02/2021,Adoption,NaN,Cat,Intact Male,3 months,Domestic Shorthair,Blue
136540,A850555,*Rumplestiltskin,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Male,1 month,Pit Bull Mix,Brown/White
136541,A850554,*Rose Red,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Brown/White
136542,A848514,Max,12/27/2021 12:37:00 PM,Dec 2021,02/22/2021,Adoption,NaN,Dog,Neutered Male,10 months,Labrador Retriever/Chinese Sharpei,Tan/White
136543,A811249,Tootie,02/01/2020 07:16:00 PM,Feb 2020,12/02/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pit Bull,Black/White
136544,A851209,A851209,02/09/2022 05:00:00 PM,Feb 2022,12/08/2021,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,Brown Brindle/White
136545,A851072,*Mary Ann,02/09/2022 05:24:00 PM,Feb 2022,02/05/2012,Euthanasia,Suffering,Dog,Intact Female,10 years,Rottweiler Mix,Black/Tan
136546,A850957,A850957,02/09/2022 05:47:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Australian Kelpie Mix,Brown Tiger/White
136547,A850959,A850959,02/09/2022 05:38:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,White/Brown Brindle
136548,A850963,*Charlotte De Berry,02/09/2022 05:29:00 PM,Feb 2022,02/02/2021,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Longhair,Blue/White
136549,A850898,*Anastasia,02/09/2022 06:05:00 PM,Feb 2022,11/17/2021,Adoption,NaN,Dog,Spayed Female,2 months,Siberian Husky Mix,Black/White
136550,A851095,NaN,02/10/2022 02:16:00 PM,Feb 2022,08/22/2021,Transfer,Partner,Cat,Intact Male,5 months,Domestic Longhair,Black/White
136551,A850441,*Manny,02/09/2022 03:00:00 PM,Feb 2022,11/09/2021,Transfer,Partner,Dog,Neutered Male,3 months,Manchester Terrier Mix,Black/Tan
136552,A701902,Roscoe,05/09/2015 04:57:00 PM,May 2015,05/12/2013,Return to Owner,NaN,Dog,Neutered Male,1 year,American Bulldog Mix,Brown Brindle/White
136553,A851293,NaN,02/10/2022 10:34:00 AM,Feb 2022,02/09/2020,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Brown
136554,A850865,*Snowman,02/10/2022 10:14:00 AM,Feb 2022,12/01/2021,Adoption,NaN,Dog,Neutered Male,2 months,Great Pyrenees Mix,White
136555,A849247,Dewwy,01/06/2022 05:42:00 PM,Jan 2022,11/04/2021,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black/White
136556,A844669,Starsky,10/23/2021 02:04:00 PM,Oct 2021,07/12/2021,Adoption,NaN,Cat,Intact Female,3 months,Domestic Medium Hair Mix,Calico
136557,A844668,Hutch,10/23/2021 02:04:00 PM,Oct 2021,07/12/2021,Adoption,NaN,Cat,Intact Male,3 months,Domestic Medium Hair Mix,Orange Tabby
136558,A851113,NaN,02/10/2022 08:07:00 AM,Feb 2022,01/06/2022,Transfer,Partner,Bird,Unknown,5 weeks,Chicken,Yellow/White
136559,A846682,Zeus,12/29/2021 03:45:00 PM,Dec 2021,11/19/2019,Adoption,NaN,Dog,Neutered Male,2 years,Bulldog/Boxer,Blue/White
136560,A745494,Stanley,04/19/2017 05:54:00 PM,Apr 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue
136561,A745494,Stanley,03/22/2017 05:04:00 PM,Mar 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,6 months,Domestic Shorthair Mix,Blue
136562,A850799,*Enola,02/10/2022 12:40:00 PM,Feb 2022,01/31/2020,Adoption,NaN,Dog,Spayed Female,2 years,Australian Kelpie Mix,Black/White
136563,A851204,Tiger,02/10/2022 12:39:00 PM,Feb 2022,09/08/2018,Return to Owner,NaN,Dog,Intact Male,3 years,Dachshund Mix,Brown Brindle/White
136564,A839417,*Fritz,02/10/2022 12:09:00 PM,Feb 2022,07/21/2019,Adoption,NaN,Dog,Neutered Male,2 years,Rottweiler Mix,Black/Brown
136565,A745494,Stanley,11/09/2021 01:44:00 PM,Nov 2021,09/12/2016,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Shorthair Mix,Blue
136566,A851179,Hops,02/10/2022 01:11:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Female,NaN,Rabbit Sh,White
136567,A850112,Eva,02/10/2022 01:22:00 PM,Feb 2022,10/19/2021,Adoption,NaN,Dog,Spayed Female,3 months,Labrador Retriever,Brown/Brown
136568,A701902,Roscoe,02/10/2022 01:17:00 PM,Feb 2022,05/12/2013,Return to Owner,NaN,Dog,Neutered Male,8 years,American Bulldog Mix,Brown Brindle/White
136569,A851181,Mighty,02/10/2022 01:10:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Male,NaN,Rabbit Sh,White/Brown

In [56]:
austin_outcomes.shape

(136538, 12)

In [57]:
austin_outcomes_2.shape

(136570, 12)

In [64]:
comparison_df = austin_outcomes_2.merge(
        austin_outcomes,
        indicator=True,
        how='outer')

#(code borrowed from https://hackersandslackers.com/compare-rows-pandas-dataframes/)

In [68]:
comparison_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,_merge
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,both
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,both
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,both
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,both
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,both

In [67]:
comparison_df[comparison_df['_merge']!='both'].shape

(54, 13)

In [71]:
pd.concat([austin_outcomes, austin_outcomes_2]).shape

(273108, 12)

In [73]:
austin_outcomes_merged = pd.concat([austin_outcomes, austin_outcomes_2])

In [74]:
austin_outcomes_merged.drop_duplicates(keep='first').shape

(136564, 12)

In [75]:
austin_outcomes_merged.drop_duplicates(keep='first', inplace=True)

In [76]:
austin_outcomes_merged.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

#### Filter austin_outcomes_merged to only include dogs

In [77]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog']['Animal Type'].unique()

array(['Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [78]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
7,A689724,*Donatello,10/18/2014 06:52:00 PM,Oct 2014,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
8,A680969,*Zeus,08/05/2014 04:59:00 PM,Aug 2014,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
136560,A745494,Stanley,04/19/2017 05:54:00 PM,Apr 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue
136561,A745494,Stanley,03/22/2017 05:04:00 PM,Mar 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,6 months,Domestic Shorthair Mix,Blue
136565,A745494,Stanley,11/09/2021 01:44:00 PM,Nov 2021,09/12/2016,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Shorthair Mix,Blue
136566,A851179,Hops,02/10/2022 01:11:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Female,NaN,Rabbit Sh,White
136569,A851181,Mighty,02/10/2022 01:10:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Male,NaN,Rabbit Sh,White/Brown

In [79]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog'].index

Int64Index([     0,      2,      4,      7,      8,     10,     11,     14,
                15,     16,
            ...
            136550, 136553, 136556, 136557, 136558, 136560, 136561, 136565,
            136566, 136569],
           dtype='int64', length=59832)

In [80]:
austin_outcomes_dogs = austin_outcomes_merged.drop(labels=austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog'].index)

In [81]:
austin_intakes_dogs['Animal Type'].unique()

array(['Dog'], dtype=object)

## austin_animal_data

## dallas_shelter_data

# Check for same animal across intakes and outcomes Dfs based on ID & try to merge

# Clean & merge all dataframes